<div>
  <div>
    <label>
      Nom:
      <input type="text" [formControl]="username" />
    </label>
    <label>
      Email:
      <input type="text" [formControl]="email" />
    </label>
    <label>
      Mot de passe:
      <input type="text" [formControl]="password" />
    </label>
  </div>
  Adresse:
  <label>
    Rue:
    <input type="text" [formControl]="street" />
  </label>
  <label>
    Code postal:
    <input type="number" [formControl]="zipCode" />
  </label>
  <label>
    Ville:
    <input type="text" [formControl]="city" />
  </label>
  <div>
    <button (click)="inscription()">Inscription</button>
  </div>
</div>

<div *ngIf="submitted">
  <h2>Nouvel utilisateur enregistré :</h2>
  <p>Nom :{{ newUser.username }}</p>
  <p>Email{{ newUser.email }}</p>
  <p>Mot de Passe:{{ newUser.password }}</p>
  <p>Adresse: {{ newUser.adress.street }} {{ newUser.adress.zipCode }}
    {{ newUser.adress.city}}
  </p>
</div>